* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-attachment: fixed;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-size: 100%;
  background-image: linear-gradient(
    to right top,
    #ac9fa0,
    #b198a3,
    #ad94af,
    #9b94be,
    #7797cb
  );
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
header h1 {
  color: #fff;
  margin: 5rem 0;
  font-size: 3rem;
}

header,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  position: relative;
  overflow: hidden;
}

form .search {
  display: flex;
}
h1 {
  color: #ad9ea1;
  margin: 0 auto 35px;
  font-size: 2.2em;

  text-shadow: 2px 2px 5px #000000;
}

form button,
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  outline: none;
}

form button {
  color: #fff;
  background-color: #7997ca;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #fff;
  color: #7997ca;
}
.select {
  margin-top: 10px;
}

.İcon {
  float: right;
  margin-left: 1%;
  font-size: large;
}

.İcon:hover {
  size: 10%;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;

  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease;
  box-shadow: 3px 3px 7px rgb(0, 0, 0);
}

.todo li {
  width: 100%;
  padding: 0 0.5rem;
  color: #ffffff;
}

.complete-btn,
.trash-btn {
  background-color: #960303;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: rgb(60, 146, 64);
}

.fa-check-circle,
.fa-minus-circle {
  font-size: 1.5rem;
  pointer-events: none;
}
.completed {
  opacity: 0.1;
  text-decoration: line-through;
}
